{
  "about": "The file is used to configure RBAC permissions for API endpoints.",
  "rbac_roles": [
    "admin",
    "manager",
    "support"
  ],
  "com01": "User ACL ----------------------------------------------------------------------------------------------",
  "POST_user": [
    "admin"
  ],
  "GET_user": [
    "admin",
    "manager"
  ],
  "GET_user_user_id": [
    "admin",
    "manager"
  ],
  "GET_user_username": [
    "admin",
    "manager"
  ],
  "GET_user_phone": [
    "admin",
    "manager"
  ],
  "GET_user_email": [
    "admin",
    "manager"
  ],
  "PUT_user_user_id": [
    "admin"
  ],
  "DELETE_user_user_id": [
    "admin"
  ],
  "PATCH_user_password": [
    "admin",
    "manager",
    "support"
  ],
  "PATCH_user_user_id_contacts": [
    "admin",
    "manager"
  ],
  "PATCH_user_user_id_password": [
    "admin"
  ],
  "PATCH_user_user_id_username": [
    "admin"
  ],
  "PATCH_user_user_id_role": [
    "admin"
  ],
  "PATCH_user_user_id_disabled": [
    "admin",
    "manager"
  ],
  "PATCH_user_user_id_login_denied": [
    "admin",
    "manager"
  ],
  "com02": "Employee ACL -----------------------------------------------------------------------------------------",
  "POST_employee": [
    "admin",
    "manager"
  ],
  "GET_employee": [
    "admin",
    "manager",
    "support"
  ],
  "GET_employee_employee_id": [
    "admin",
    "manager",
    "support"
  ],
  "PUT_employee_employee_id": [
    "admin",
    "manager"
  ],
  "DELETE_employee_employee_id": [
    "admin",
    "manager"
  ],
  "com03": "Ticket ACL -------------------------------------------------------------------------------------------",
  "POST_ticket": [
    "admin",
    "manager",
    "support"
  ],
  "GET_ticket": [
    "admin",
    "manager",
    "support"
  ],
  "PUT_ticket_ticket_id": [
    "admin",
    "manager"
  ],
  "DELETE_ticket_ticket_id": [
    "admin",
    "manager"
  ]
}